@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  background: linear-gradient(135deg, #fff5f5 0%, #fffff0 100%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 0 20px 0;
  max-width: 1150px;
  height: 44px;
  margin-left: 60px;
  margin-top: 12px;
}

.logo {
  width: 200px;
  height: 39px;
}
.header-nav {
  max-width: 476px;
  height: 40px;
  top: 28px;
  left: 924px;
  gap: 0px;
  opacity: 0px;
}
a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21.09px;
  letter-spacing: 0%;
  color: #141414;
}
.urls {
  color: #0065fe;
}
ul.breadcrumb {
  list-style: none;
  padding: 10px 16px;
}
ul.breadcrumb li {
  display: inline;
  padding: 10px;
}
.log-in {
  text-decoration: none;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0%;

  color: #0065fe;
}
.try-for-free {
  border-radius: 12px;
  border: none;
  padding: 10px 20px;
  background-color: #005ae2;
  color: white;
  padding: 5px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0%;
  width: 105px;
  height: 25px;
}
.group-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 948px;
  height: 389px;
  margin-top: 16px;
  margin-left: 150px;
}
.group-1 h1 {
  font-size: 48px;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: center;
}
.group-1 span {
  color: #005ae2;
}
.group-1 span::after {
  content: url(./images/Vector\ 3.png);
  position: absolute;
  width: 173.62977600097656px;
  height: 19.90825843811035px;
  top: 200.91px;
  left: 550px;
}
.group-1 p {
  width: 681px;
  height: 105px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
  align-self: center;
}
.group-1-buttons {
  align-self: center;
  width: 282px;
  height: 44px;
  gap: 56px;
}
.group-1-buttons button {
  width: 142px;
  height: 44px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  gap: 10px;
  border-radius: 100px;
  border: none;
  background: #0065fe;
  color: white;
}
.group-1-buttons a {
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0%;
  color: #0065fe;
  margin-left: 50px;
}
.linked-icons-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 768px;
  height: 224px;
  margin-left: 300px;
  margin-top: 50px;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-left: 60px;
  gap: 16px;
  border-radius: 24px;
  border-width: 0.5px;
  background: #fefefe1a;
  border: 0.5px solid #005ae2;
  backdrop-filter: blur(212px);
  background: #f7fafc;
}
.linked-icons-section img {
  margin-left: -12px;
}
.arrow-forward {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 30px;
}
.note {
  align-self: center;
  width: 400px;
  height: 48px;
}
.note p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.note span {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.just-background-section {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
.curve {
  position: relative;
  bottom: 70px;
  margin-left: 140px;
}
.stat-section {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  height: 220px;
  left: -3px;
  padding-top: 60px;
  padding-right: 140px;
  padding-bottom: 60px;
  padding-left: 140px;
}
.stat-title {
  width: 337px;
  height: 96px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
}
.stat-title span {
  color: #005ae2;
}
.stat-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.active {
  width: 88px;
  height: 68px;
  gap: 4px;
}
.active h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}
.active p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.links-qr {
  width: 100px;
  height: 100px;
  gap: 4px;
}
.links-qr h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}
.links-qr p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.clicked {
  width: 143px;
  height: 100px;
  gap: 8px;
}
.clicked h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}
.clicked p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.app {
  width: 123px;
  height: 68px;
  gap: 4px;
}
.app h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}
.app p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.scissor-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-right: 140px;
  padding-bottom: 60px;
  padding-left: 140px;
}

.why {
  width: 398.1000061035156px;
  height: 256px;
  gap: 16px;
}
.why h2 {
  font-size: 40px;
  line-height: 32px;
  letter-spacing: 0%;

  height: 48px;
  gap: 16px;
}
.why span {
  color: #005ae2;
}
.why p {
  width: 370px;
  height: 192px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}
.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 708px;
  height: 504px;
}
.shortening {
  width: 340px;
  height: 220px;
}
.scissor-section h3 {
  width: 226px;
  height: 28px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 30px;
}
.shortening p {
  width: 300px;
  height: 80px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.custom {
  width: 340px;
  height: 211px;
}
.custom h3 {
  width: 226px;
  height: 28px;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 30px;
}
.custom p {
  width: 300px;
  height: 71px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.codes {
  width: 340px;
  height: 220px;
}
.codes h3 {
  width: 200px;
  height: 28px;
  margin-top: 30px;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0%;
}
.codes p {
  width: 300px;
  height: 80px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.analytics {
  width: 340px;
  height: 220px;
}
.analytics h3 {
  width: 218px;
  height: 28px;
  margin-top: 30px;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0%;
}
.analytics p {
  width: 300px;
  height: 80px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.perferct-price-section {
  margin-left: 300px;
  width: 560px;
  height: 108px;
  gap: 8px;
  margin-bottom: 30px;
}
.perferct-price-section h2 {
  width: 560px;
  height: 48px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.perferct-price-section span {
  color: #005ae2;
}
.perferct-price-section p {
  width: 556px;
  height: 52px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.subscription-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  max-width: 1088px;
  height: 500px;
  margin-left: 100px;
  border-radius: 12px;
}
.subscription-section nav li {
  list-style: none;
}
.basic-plan {
  background-color: white;
  align-self: center;
  width: 310px;
  height: 363px;
  border-radius: 12px;
  border-width: 0.4px;
  border: 0.4px solid #005ae2;
  box-shadow: 0px 4px 8px 0px #0000000d;
  margin-right: -60px;
  padding-left: 40px;
  padding-top: 30px;
}
.basic-name {
  width: 60px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: -70px;
  margin-bottom: 20px;
}
.basic-plan h3 {
  width: 81px;
  height: 48px;

  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.basic-plan p {
  width: 194px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.basic-plan nav {
  width: 186px;
  height: 216px;
  gap: 24px;
}
.basic-plan li {
  width: 200px;
  height: 24px;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.basic-plan li::before {
  content: url("./images/check-circle.svg");
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.prof-plan {
  width: 360px;
  height: 500px;
  border-radius: 12px;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  color: white;
  padding: 90px 40px;
  position: relative;
  left: 30px;
}
.prof-name {
  width: 131px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: -70px;
  margin-bottom: 20px;
}
.prof-plan h3 {
  width: 210px;
  height: 48px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.prof-plan p {
  width: 239px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.prof-plan nav {
  width: 200px;
  height: 216px;
  gap: 24px;
}
.prof-plan li {
  width: 220px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: white;
  padding-bottom: 30px;
  margin-top: 10px;
}
.prof-plan li::before {
  content: url("./images/check-circle\ \(1\).svg");
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.team-plan {
  background-color: white;
  align-self: center;
  width: 310px;
  height: 363px;
  border-radius: 12px;
  border-width: 0.4px;
  border: 0.4px solid #005ae2;
  box-shadow: 0px 4px 8px 0px #0000000d;
  padding-left: 60px;
  padding-top: 30px;
}
.team-name {
  width: 60px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: -70px;
  margin-bottom: 20px;
}
.team-plan h3 {
  width: 210px;
  height: 48px;

  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.team-plan p {
  width: 227px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.team-plan nav {
  width: 186px;
  height: 216px;
  gap: 24px;
}
.team-plan li {
  width: 227px;
  height: 24px;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.team-plan li::before {
  content: url("./images/check-circle.svg");
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.button-section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 60px;
  margin-bottom: 90px;
  height: 48px;
  gap: 12px;
}
.get-button {
  width: 200px;
  height: 48px;
  border-radius: 100px;
  border-width: 1px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #0065fe;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #0065fe;
  background-color: white;
}
.select-button {
  width: 200px;
  height: 48px;
  border: none;
  border-radius: 100px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0%;
  color: white;
  background-color: #0065fe;
}
.form-section {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1440px;
  height: 523px;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 476px;
  height: 355px;
  border-radius: 12px;
  background-color: white;
  align-self: center;
  padding: 40px;
  gap: 13px;
}
.url-input {
  grid-column: 2 span;
}
.input-field {
  width: 392px;
  height: 55px;
  border-radius: 12px;
  border-width: 1px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  margin-top: 20px;
  margin-left: px;
  border: 1px solid #3284ff;
  outline: none;
}
.input-field::placeholder {
  width: 115px;
  height: 34px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  color: #3284ff;

  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}
.choose-select select {
  width: 202px;
  height: 48px;
  border-radius: 12px;
  border-width: 1px;
  gap: 10px;
  padding-top: 18px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  border: 1px solid #3284ff;
  color: #3284ff;
}
.choose-select option {
  width: 140px;
  height: 12px;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0%;
  color: black;
}
.alias-field{
  width: 178px;
  height: 48px;
  border-radius: 12px;
  border-width: 1px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border: 1px solid #3284ff;
  outline: none;
}

.alias-field::placeholder {
  width: 107px;
  height: 34px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #3284ff;
}
.trim-button {
  grid-column: 2 span;
}
.trim-button button {
  width: 392px;
  height: 48px;
  border-radius: 100px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background: #005ae2;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0%;
}
.form-footer {
  grid-column: 2 span;
  width: 392px;
  height: 60px;
  gap: 10px;
  padding: 10px;

  gap: 10px;
  padding: 10px;
}
.form-footer p{
  width: 373px;
  height: 40px;  
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #3284ff;  
}
.form-footer a{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #3284ff;
}
.faq-section{
  
  width: 792px;
  height: 955px;
  margin-left: px;
  
}
.faq-header h3{
text-align: center;
font-size: 40px;
line-height: 32px;
letter-spacing: 0%;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 400px;
}
.faq-main{
  width: 792px;
  height: 843px;
  margin-left: 230px;
}
details {
  color: black;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  padding-left: 30px;
  
   
}

summary {
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\2212";
}

details[open] div {
  padding: 0.5em 1em;
}
.rev-section{
  max-width: 1440px;
  height: 300px;
  background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
  padding: 100px;
  
}
.rev-div{
  width: 806px;
  height: 137px;
  margin-left: 100px;
  
}
.rev-div h3{
  width: 800px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;  
}
.rev-div button{
  width: 200px;
  height: 48px;
  border-radius: 100px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: #005AE2;
  border: none;
  margin-left: 317px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #ffffff;
}
.main-foot{
  display: grid;
  grid-template-columns: .3fr 1fr;
  max-width: 1440px;
  height: 561px;
  padding-left: 71px;
  padding-top: 50px;
  
}
.links-foot{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.links-foot nav li{
  list-style: none;
}
.why-res-foot{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 384px;

}
.why-res-foot h3{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 15px;
  
}
.why-res-foot li{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.sol-feat-foot{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 201px;
  height: 320px;
  
}
.sol-feat-foot h3{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 15px;
}
.sol-feat-foot li{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.prod-leg-foot{
  width: 211px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prod-leg-foot h3{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 15px;
}
.prod-leg-foot li{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.company-foot{
  width: 148px;
  height: 172px;
  gap: 8px;
  padding-right: 24px;
  padding-left: 24px;
  
}
.company-foot h3{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 15px;
}
.company-foot li{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  
}
.footer-bottom{
  grid-column: 2 span;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.footer-bottom p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

}
@media (max-width: 768px) {
	.stat-body {
		grid-template-columns: repeat(2, 1fr);
	}

	.icons {
		grid-template-columns: 1fr;
	}

}

